---
export interface Props {
  href: string;
  target?: string;
  rel?: string;
  className?: string;
}

const { href, target, rel, className = '' } = Astro.props;
---

<a 
  href={href} 
  target={target} 
  rel={rel}
  class={`font-medium group relative inline-block ${className}`}
>
  <slot />
  <span class="absolute left-0 bottom-0 h-0.5 w-0  dark:bg-white transition-all duration-300 group-hover:w-full"></span>
</a>